
<!DOCTYPE html>
<!--[if IE]>         <html class="ie" lang="fr">     <![endif]-->
<!--[if !(IE)]><!--> <html lang="fr">  <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Coquins de bio! Fruits et légumes de saison biologiques, Boulbon, Tarascon, Avignon, Arles</title>
    <meta name="copyright" content=""/>
    <meta name="viewport" content="width=1080" />
    <meta property="og:title" content="Coquins de Bio" />
    <meta property="og:description" content="Fruits et légumes de saison biologiques, Boulbon, Tarascon, Avignon, Arles" />
    <meta property="og:image" content="" />
    
    <link rel="icon" type="type/png" href="" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
  	

    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>


    <!--
	            __                                 
	           /\ \                   __           
	     ___   \_\ \     __   __  __ /\_\     __   
	   / __`\  /'_` \  /'__`\/\ \/\ \\/\ \  /'__`\
	  /\ \L\ \/\ \L\ \/\  __/\ \ \_/ |\ \ \/\  __/
	  \ \____/\ \___,_\ \____\\ \___/  \ \_\ \____\
	   \/___/  \/__,_ /\/____/ \/__/    \/_/\/____/

  	odevie.org
  	Web agency
    
  	-->
  
    <%= stylesheet_link_tag 'application', :media => 'all' %>

    
  </head>

  <body>
    <div id="main_content">
      <header id="bgd">
        <header><a href="">LIEUX DE VENTE</a> / Contactez nous : <span>06 70 93 65 41</span></header>
        <a href="#" id="toggle"><%= image_tag "nav_menu.png" %></a>
        <nav>
          <ul id="nav_left">
            <li><a href="#">Produits</a></li>
            <li><a href="#">Professionels</a></li>
            <li><a href="#">Producteurs</a></li>
          </ul>
          <a href="/" id="logo"><%= image_tag "logo.png" %></a>
          <ul id="nav_right">
            <li><a href="#">Partenaires</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
        <ul id="nav">
          <li><a href="#">Produits</a></li>
          <li><a href="#">Professionels</a></li>
          <li><a href="#">Producteurs</a></li>
          <li><a href="#">Partenaires</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div id="connect">
          <a href="#">CONNEXION</a> / <a href="#">Inscription</a>
        </div>

        <h1>Devenez</h1>
        <div id="arrow"><%= image_tag "arrow.png" %></div>
        <h2><a href="#">AChetez en direct a des producteurs</a></h2>
        <h3>Des produits bio</h3>
        <h4>entre rhône et durance</h4>
      </header>
      <section id="discover" class="line">
        <div class="quart bloc no_mobile">
          <%= image_tag "panier.jpg" %>
        </div>
        <div class="two-quart bloc">
          <div class="content">
            <h2>Découvrez nos produits</h2>
            <p>
              Nos formules Panier de 10 à 15€<br>
              Il est également possible de prendre des suppléments légumes, oeufs, vins, miel, ...
            </p>
            <p>
              Vous pouvez aussi composer votre panier vous même à partir d’un minimum de commande.
            </p>
          </div>
        </div>
        <div class="quart bloc">
          <a href="#" class="green_link"><span>Achetez</span> en ligne</a>
        </div>
      </section>
      <section id="grocery" class="line white">
        <div class="two-quart bloc">
          <%= image_tag "miel.jpg" %>
        </div>
        <div class="quart bloc grocery">
          <div class="content">
            <h2><span>L'</span>épicerie</h2>
            <p>
              COQUINS DE BIO! ce n’est pas que des paniers! C’est aussi des oeufs du pain, du bin, du miel et bien plus encore!
            </p>
            <a href="#" class="rounded_link">Découvrez les ici</a>
          </div>
        </div>
        <div class="quart bloc no_mobile">
          <%= image_tag "tractor.jpg" %>
        </div>
      </section>
      <section id="producer" class"line">
        <div class="quart bloc">
          <a href="#" class="green_link">Agriculture biologique<span>Locale?</span></a>
        </div>
        <div class="two-quart bloc">
          <div class="content">
            <h2>PRODUCTEURS DE FRUITS ET LÉGUMES </h2>
            <p>
              Nous sommes troisjeunes producteurs situés en Provence entre Rhône et Durance.
            </p>
            <p>
              Nous produisons des fruits, des légumes, du tvin et des œufs certifiés en agriculture biologique.
            </p>
            <p>
              Nous nous sommes associés pour offrir aux consommateurs une gamme de produits
            </p>
            <h2 class="margin_top">BIOLOGIQUES, frais, locaux, <br>diversifiés <span>et de saison !</span></h2>
          </div>
        </div>
        <div class="quart bloc no_mobile">
          <%= image_tag "paysans.jpg" %>
        </div>
      </section>
      <section id="join" class="line white">
        <div class="quart bloc no_mobile">
          <%= image_tag "dirt.jpg" %>
        </div>
        <div class="quart bloc join">
          <div class="content">
            <h2><span>rejoignez nous</span></h2>
            <p>
              Inscrivez vous à notre newsletter vous serez informé de nos actions et des contenus des paniers!
            </p>
            <form>
              <input type="text" value="" placeholder="mon.email@mail.fr">
            </form>
          </div>
        </div>
        <div class="two-quart bloc visit">
          <%= image_tag "champ.jpg" %>
          <h2><a href="#" class="underlined_link">VISITEZ NOS PRODUCTEURS</a></h2>
        </div>
      </section>
      <section id="public" class="line">
        <div class="two-quart high_bloc no_mobile">
          <%= image_tag "chicken.jpg" %>
        </div> 
        <div class="two-quart high_bloc">
          <div class="iam" id="professionel">
            <h3>Je suis un <span>professionnel</span></h3>
            <a href="#">Et je souhaite distribuer vos produits</a>
          </div>
          <div class="iam" id="collectivite">
            <h3>Nous sommes une <span>collectivité</span></h3>
            <a href="#">Et nous avons besoin de vos services</a>
          </div>
          <div class="iam" id="amap">
            <h3>Nous sommes une <span>amap</span></h3>
            <a href="#">Et nous souhaitons accèder à vos produits</a>
          </div>
        </div> 
      </section>
      <section id="news">
        <div class="news_line">
          <article class="news">
            <div class="news_texte">
              <div class="news_content">
                <h1><a href="#">Titre blog</a></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
              </div>
            </div>
            <div class="news_image">
              <%= image_tag "tomates.jpg" %>
            </div>
          </article>
          <article class="news">
            <div class="news_texte">
              <div class="news_content">
                <h1><a href="#">Titre blog</a></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
              </div>
            </div>
            <div class="news_image">
              <%= image_tag "tomates.jpg" %>
            </div>
          </article>
        </div>
        <div class="news_line">
          <article class="news right">
            <div class="news_texte">
              <div class="news_content">
                <h1><a href="#">Titre blog</a></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
              </div>
            </div>
            <div class="news_image">
              <%= image_tag "tomates.jpg" %>
            </div>
          </article>
          <article class="news right">
            <div class="news_texte">
              <div class="news_content">
                <h1><a href="#">Titre blog</a></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
              </div>
            </div>
            <div class="news_image">
              <%= image_tag "tomates.jpg" %>
            </div>
          </article>
        </div>
      </section>
      <section id="quote">
        <span><%= image_tag "quote.png" %></span>
        <p class="quote">On doit absolutment gouter les pèches et les abricots issus des terres boulbonnaises. Les tomates aussi sont fantastiques. Les Paniers sont variés et il y a toujours les bonnes quantités.</p>
        <p class="author">M.BURAVand</p>
      </section>
      <section id="bio" class="line">
        <div class="two-quart bloc">
          <div class="content">
            <h2>PRATIQUES AGRICOLES <span>DURABLES</span></h2>
            <p>
              Nous favorisons la biodiversité autour des parcelles et dans les cultures, en offrant le gîte et le couvert aux auxiliaires des cultures et autres prédateurs des ravageurs. 
            </p>
            <a href="#" class="green_link_left">Agriculture DURABLE?</a>
          </div>
        </div>
        <div class="quart bloc certification">
          <%= image_tag "bio_euro.png" %>
          <a href="#">Nos<br> certifications</a>
        </div>
        <div class="quart bloc no_mobile">
          <%= image_tag "bio.jpg" %>
        </div>
      </section>
      <footer>
        <div class="two-quart bloc">
          <div class="two-quart bloc">
            <div class="content">
              <%= image_tag "logo_footer.png" %>
              <p>
                ASSOCIATION LOI 1901<br>
                54 TRAVERSE DE LA CALADE<br>
                MAS SAINT MICHEL<br>
                13150 ST PIERRE DE MÉZOARGUES<br>
              </p>
              <div id="connect">
                <a href="#">CONNEXION</a> / <a href="#">Inscription</a>
              </div>
              <div id="socials">
                <a href="#" class="social facebook"><%= image_tag "facebook.png" %></a>
                <a href="#" class="social twitter"><%= image_tag "twitter.png" %></a>
              </div>
            </div>
          </div>
          <div class="two-quart bloc">
            <div class="content">
              <ul>
                <li><a href="#">Produits</a></li>
                <li><a href="#">Lieux de vente</a></li>
                <li><a href="#">Producteurs</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Service aux professionels</a></li>
                <li><a href="#">Services aux collectivités</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="two-quart bloc">
          <div class="content">
            <h2>nos <span>points de vente</span></h2>
            <p><span>Lundi : </span>Tarascon, 17h - 19h devant la gare SNCF.</p>
            <p><span>Mardi : </span>Boulbon, 17h - 19h au 1 rue Saint Christophe.</p>
            <p><span>Mercredi : </span>Montfavet, 17h - 19h au marché.</p>
            <p><span>Vendredi : </span>Boulbon, 17h - 19h au rue Fond de Bernard.</p>
            <p><span>Samedi : </span>Thézier, 17h - 19h au la cave de Thibo.</p>
            <a href="#" class="white_link_inline">Consultez la carte</a>
          </div>
        </div>
        <footer>
          <p>© Coquins de Bio, association loi 1901 2015 - <a href="#">Mentions légales</a> - <a href="#">CGV</a></p>
          <p>Réalisation agence de Communication <a href="http://www.odevie.org">Odevie</a></p>
        </footer>
        <div id="bio_logos">
          <%= image_tag "AB.jpg" %><%= image_tag "ABeuro.jpg" %>
        </div>
      </footer>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>